<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Laboratory Billing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

    <style>
        .background{
            background-image: url('/img/bg2.jpg')!important;
            background-size: cover;
            background-repeat: repeat;
            height: 100vh;
            font-family: 'Numans', sans-serif;
            /*background: #a8a4a4;*/
        }
        input:hover{
            /*opacity: 100%;*/
            background-color: #c9c8c8;
        }
    </style>

</head>
<body class="background">
<div class="container opacity-75 shadow mt-5 mb-5 bg-light py-2 rounded">
    <div class="row justify-content-center p-2">
        <div class="col-lg-12">
            <form method="post" th:action="@{/save}" th:object="${person}" class="mb-3">
                <input type="hidden" th:field="*{id}">
                <h3 class="text-center mb-3">Update Billing</h3>
                <hr>
                <a class="btn btn-success btn-sm" th:href="@{/get}"> Back to the list </a>
                <hr>

                <div class="row fw-bold">

                    <div class="col-md-3 mb-3">
                        <label for="patientName" class="form-label">&#10066; Patient Name</label>
                        <input type="text" class="form-control" id="patientName" th:field="*{patientName}">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="invoiceNumber" class="form-label">&#10066; Invoice Number</label>
                        <input type="text" class="form-control" id="invoiceNumber" th:field="*{invoiceNumber}">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="patientIdentifier" class="form-label">&#10066; Patient Identifier</label>
                        <input type="text" class="form-control" id="patientIdentifier" th:field="*{patientIdentifier}">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="age" class="form-label">&#10066; Age</label>
                        <input type="number" class="form-control" id="age" th:field="*{age}">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="contactNumber" class="form-label">&#10066; Contact Number</label>
                        <input type="number" class="form-control" id="contactNumber" th:field="*{contactNumber}">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="email" class="form-label">&#10066; Email</label>
                        <input type="email" class="form-control" id="email" th:field="*{email}">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="patientId" class="form-label">&#10066; Patient Root Id</label>
                        <input type="text" class="form-control" id="patientId" th:field="*{patientId}">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="brnNumber" class="form-label">&#10066; Birth REG</label>
                        <input type="text" class="form-control" id="brnNumber" th:field="*{brnNumber}">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="nationalId" class="form-label">&#10066; NID</label>
                        <input type="text" class="form-control" id="nationalId" th:field="*{nationalId}">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="patientCategory" class="form-label">&#10066; Patient Category</label>
                        <input type="text" class="form-control" id="patientCategory" th:field="*{patientCategory}">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="sex" class="form-label">&#10066; Gender</label>
                        <select class="form-select" id="sex" th:field="*{sex}" >
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>


                    <div class="row col-md-12">
                        <div class="col-md-3">
                            <label class="form-check-label">
                                <input class="form-check-input" th:field="*{Refund}" id="Refund" type="checkbox" value="" name="Refund" > Is Refund ?
                            </label>
                        </div>

                        <div class="col-md-3 ms-2">
                            <label class="form-check-label">
                                <input class="form-check-input" th:field="*{FreePatient}" id="FreePatient" type="checkbox" value=""  name="FreePatient"> Is Free Patient ?
                            </label>
                        </div>
                    </div>



                </div>



                <hr>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive update-contacts">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>&#10066; Test Name</th>
                                    <th>&#10066; Department</th>
                                    <th>&#10066; Price</th>
                                    <th>
                                        <button type="button" name="addContact" class="btn btn-outline-success"
                                                data-update-contacts-url="/addContact">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </th>

                                </tr>
                                </thead>
                                <tbody id="tblContacts">
                                <tr th:fragment="contacts" th:each="contact,rowStat : ${person.lines}">
                                    <td>
                                        <input type="hidden" th:field="${person.lines[__${rowStat.index}__].uuid}">
                                        <input class="custom-select form-control"
                                               th:field="${person.lines[__${rowStat.index}__].productName}"></input>
                                    </td>
                                    <td>
                                        <input type="hidden" th:field="${person.lines[__${rowStat.index}__].uuid}">
                                        <input class="custom-select form-control"
                                               th:field="${person.lines[__${rowStat.index}__].categoryName}"></input>
                                    </td>
                                    <td>
                                        <input type="hidden" th:field="${person.lines[__${rowStat.index}__].uuid}">
                                        <input class="custom-select form-control"
                                               th:field="${person.lines[__${rowStat.index}__].priceUnit}"></input>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-success"
                                                data-update-contacts-url="/addContact">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                        <button type="button" name="removeContact" th:value="${rowStat.index}"
                                                class="btn btn-outline-danger"
                                                data-update-contacts-url="/removeContact">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit form</button> &nbsp;
                <button type="reset" class="btn btn-primary">Clear</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function () {
        // Invoke the corresponding URL to update the contacts section using Ajax
        $('.update-contacts').on('click', 'button[data-update-contacts-url]', function () {
            let url = $(this).data('update-contacts-url');

            // adding the row index, needed when deleting a contact
            let formData = $('form').serializeArray();
            let param = {};
            param["name"] = $(this).attr('name');
            param["value"] = $(this).val();
            formData.push(param);

            // updating the contact section
            $('#tblContacts').load(url, formData);
        });

        // autodismiss alerts
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    });
</script>

</body>
</html>
